* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

h1{
    color: aliceblue;
}
.parent {
    display: flex;
    gap: 20px;
}

.eye {
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    position: relative;
}

.black {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    color: white;

    animation-name: square;
    animation-duration: 2s;
    animation-timing-function: linear ;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-fill-mode: both;
}



@keyframes square {
    0%{
        translate: 0 0;
    }
    50%{
        translate: 20px 0;
    }
    75%{
        translate: 0px 0px;
    }
    100%{
        translate: -20px 0;
    }
}
